/* .para_foot{
    margin: 10px 0 0 0 ;
    padding: 15px;
    background: rgba(179, 172, 172, 0.313);
    text-align: center ;
    font-family: 'Silkscreen', cursive;
    text-transform: uppercase;
} */

